<div class ='your-deck'><h1> Your Decks </h1></div>
  <%= button_to 'Create New Deck', new_deck_path, method: :get %>
<div class ='previous-deck'><h1> Previous Decks </h1></div> 
<div class ='suggested-deck'><h1> Suggested Decks </h1></div>
