<div class ='your-deck'><h2> Your Decks </h2></div>
<%= button_to 'Create New Deck', new_deck_path, method: :get %>
<div class ='previous-deck'><h2> Previous Decks </h2></div> 
<div class ='suggested-deck'><h2> Suggested Decks </h2></div>
