New Card
<div id='card_form'>
  <%= form_for [@deck, @image_search], remote: true do |f| %>
    <%= f.text_field :front, placeholder: "Front" %> <br>
    <%= f.text_area :back, placeholder: "Back" %> <br>
    <div id = 'add_images'>
      <%= f.submit "Add Images" %>
    </div>
  <% end %>
</div>
