<div class='scroll-selection'>
  <%= button_to 'Add New Card', new_deck_card_path(deck), method: :get %>
  <ul>
    <% cards.each_with_index do |card, index| %>
      <%= div_for card, data: { index: index } do %>
        <%= render 'card_link', card: card %>
      <% end %>
    <% end %>
  </ul>
</div>
