Edit Decks
<div class="deck-edit">
  <%= render "deck_edit"%>
</div>

<div class="card-stack">
  <%= render "card_stack"%>
</div>

<div class="edit-card">
</div>

<%= button_to "Done Editing", @deck, method: :get %>
