Edit Decks

<%= render 'deck_edit', deck: @deck %>

<div class="card-stack" id='card-stack'>
  <%= render 'card_stack', deck: @deck, cards: @cards %>
</div>

<div class='edit-card'>
</div>

<%= button_to 'Done Editing', @deck, method: :get %>
