<h2>Popular Decks</h2>

<ul>
  <% @decks.each do |deck| %>
    <li>
      <div>Deck: <%= link_to deck.name, deck %></div>
      <div>
        Tags:
        <% deck.tags.each do |tag| %>
          <%= link_to "#{tag.name}", tag_path(tag) %>
        <% end %>
      </div>
    </li>
  <% end %>
</ul>
