<h2><%= @deck.name %>:</h2>

<%= button_to "Test", deck_test_path(@deck), method: :get %>
<%= button_to "Practice", deck_cards_path(@deck), method: :get %>
<%= button_to "Edit Deck", edit_deck_path(@deck), method: :get %>
