<div class="hero">
  <div class="hero-inner">
    <div class="hero-copy">
      <h1>Welcome to VelociFlashtor!</h1>
      <h6>VelociFlashtor is a social flashcard application that helps improve retention for memory intensive learning.</h6> 
      <%= button_to "Sign Up!", sign_up_path, method: :get %>
    </div>
    <div class="hero-image">
    </div>
  </div>
</div>
