<h2><%= @deck.name %>:</h2>

<div id='guess_container'>
  <%= render 'guesses/guess', locals: { card: @card, num_guesses: @num_guesses } %>
</div>
<script>
  var index = 0;
  var card_ids = <%= @card_ids %>;
</script>
